<!-- Navigation Links -->
      <div class="hidden md:flex space-x-8">
        <a routerLink="/" 
           routerLinkActive="text-[#8fc0a9]" 
           [routerLinkActiveOptions]="{exact: true}"
           class="text-[#000000] hover:text-[#8fc0a9] transition-colors duration-200">
          Home
        </a>
        <a routerLink="/about" 
           routerLinkActive="text-[#8fc0a9]" 
           class="text-[#000000] hover:text-[#8fc0a9] transition-colors duration-200">
          Over Mij
        </a>
        <a routerLink="/projects" 
           routerLinkActive="text-[#8fc0a9]" 
           class="text-[#000000] hover:text-[#8fc0a9] transition-colors duration-200">
          Projecten
        </a>
        <a routerLink="/internship" 
           routerLinkActive="text-[#8fc0a9]" 
           class="text-[#000000] hover:text-[#8fc0a9] transition-colors duration-200">
          Stage
        </a>
      </div> 